{% extends "base.html" %}

{% block title %}My Dashboard{% endblock title %}

{% block body %}
{% if user_ads %}
<div class="row">
{% for ad in user_ads %}
    <div class="col-md-4 mb-3">
        <div class="card">
            {% if ad.image %}
            <img src="{{ ad.image.url }}" class="card-img-top" alt="{{ ad.title }}">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ ad.title }}</h5>
                <p class="card-text">{{ ad.description|truncatewords:20 }}</p>
                <p>Categories: 
                    {% for category in ad.adCategory.all %}
                    {{ category.adCategory }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
                <p>Created on: {{ ad.created_at|date:"F d, Y" }}</p>
            </div>
        </div>
    </div>
{% endfor %}
</div>
{% else %}
<p>You have not created any advertisements yet.</p>
<a href="{% url 'create_ad' %}" class="btn btn-primary">Create an Ad</a>
{% endif %}
{% endblock body %}